* {
  /* background-color: #fceed1; */
  /* border: 0.5px solid rgb(247, 0, 0); */
  margin: 0;
  padding: 0;
  font-family: 'Signika Negative', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(81, 81, 81);
  font-size: 18px;
}

body {
  background-image: url('./img/8887805.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 250px;
}

.signupInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5px;
}

#bottom {
  display: flex;
  gap: 30px;
}

#listField {
  border: 0.5px solid rgb(62, 61, 61);
  width: 300px;
  height: 120px;
  border-radius: 25px;
  text-align: center;
  background-color: #fceed1;
}

.searchMain {
  display: flex;
  align-items: self-start;
  justify-content: center;
  margin-top: 150px;
  gap: 10px;
}

.skillLevelMain {
  display: flex;
  flex-direction: column;
}

#listFieldMain {
  border: 0.5px solid rgb(62, 61, 61);
  width: 300px;
  height: 100px;
  border-radius: 25px;
  text-align: center;
  background-color: #fceed1;
}

#list {
  list-style-type: none;
}

#map {
  width: 100%;
  height: 800px;
  margin-top: 100px;
}

.allInput {
  border: 0.5px solid rgb(62, 61, 61);
  border-radius: 25px;
  height: 30px;
  width: 250px;
  text-align: center;
  background-color: #fceed1;
}

select.allInput:focus {
  background-color: #fceed1 !important;
  outline: none;
}

#header {
  background: linear-gradient(
    to bottom,
    #9ac400ea,
    rgba(255, 255, 255, 0)
  ); /* this is cool technique to create faded color*/
  margin-top: 0;
  height: 150px;
}

#linkButton {
  border: none;
  font-size: 19px;
  background-color: #ffffff;
}

#buttonButton {
  text-decoration: none;
}
